SUPABASE_URL=turl_de_supabase_aqui
SUPABASE_ANON_KEY=clave_anonima_de_supabase_aqui
# Cambiamos la URL de Vercel a la de Netlify 
NETLIFY_BASE_URL=https://tu-sitio-netlify-aqui/

GEMINI_API_KEY=tu_clave_de_api_gemini_aqui

